// header
header{
    margin: 2vw 6vw;
    display: flex;
    justify-content: space-between;

}

header img{
    width: 210px;
    height: 68px;
}

header nav{
    width: 100%;
    display: flex;
    

}

header ul{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 7%;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    list-style-type: none;
    cursor: pointer;
   
    
}

header a{
    text-decoration: none;
    color: black;
    &.underline{
        text-decoration: underline;
    }

}

header li:hover{
    text-decoration: underline;
}

@media (max-width: 800px) {
    header{
        margin: 4% 25px ;

    }
    nav ul{
        display: flex;
        gap: 10%;
        padding: 0;
    }
    li{
        font-size: 14px;
        font-weight: 500;
        line-height: 17.11px;
        text-transform: uppercase;
        
    }
    header img{
        width: 145px;
        height: 48px;
    }
}
